

/* The Typewriter */

#typewriter  {
	
}

.cursor {
	border-left: 4px solid white;
}
.snap-container {
    height: 100vh; /* Ensure the container fills the viewport height */
    overflow-y: scroll; /* Enable scrolling within the container */
    scroll-snap-type: y mandatory; /* Define vertical snapping */
  }
  
section {
    height: 100vh; /* Ensure each section fills the viewport height */
    scroll-snap-align: center; /* Snap sections to the center */
    /* Add other styling for your sections */
  }
  